

.banner {
    position: relative;
    width: 100%;
    height: 700px; 
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-overlay {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    transform: translateY(-50%);
    padding: 0 5%; 
    color: white;
    z-index: 1;
}

.banner-info {
    max-width: 50%;
}

.banner-info h1 {
    font-size: 70px;
    font-weight: bold;
    margin: 0;
}

.banner-info p {
    font-size: 30px;
    margin: 5px 0;
}

.banner-content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 12px;
    width: 450px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.banner-details {
    color: white;
    font-size: 18px; 
    margin-bottom: 20px; 
}

.banner-button {
    background-color: #ff758f;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-left: auto;
}

.banner-button:hover {
    background-color: #ff5670; 
}
