.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}
.main-content {
  flex: 1; /* Pushes the footer to the bottom */
}

/* Footer styles */
.footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ccc;
}
