.footer {
  position: relative; /* Make sure the footer is positioned to allow for pseudo-element positioning */
  background: url("../../public/assets/images/footer_background.jpg") no-repeat
    center center;
  background-size: cover;
  padding: 40px 20px; /* Increased padding for better text readability */
  color: #fff;
  text-align: center;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1; /* Places the overlay above the image */
}

.footer-content {
  position: relative;
  z-index: 2; /* Ensures the text appears above the overlay */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10%;
}

.footer-logo img {
  max-width: 150px;
  margin-bottom: 15px;
}

.footer-address,
.footer-contact,
.footer-social {
  flex: 1;
  min-width: 200px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
}

.footer-address p,
.footer-contact p,
.footer-social p {
  margin: 5px 0;
}

.footer-social .social-icons {
  display: flex;
  justify-content: left;
  filter: invert(80) sepia(13) saturate(100) hue-rotate(130deg) brightness(95)
    contrast(10);
  gap: 10px;
}

.footer-social .social-icons a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-social .social-icons a:hover {
  color: #ddd;
}

.logo-image {
  max-width: 100%;
  height: auto;
}
