.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 15px;
}

.navbar-logo img {
  width: 50px;
  height: 40px;
}

.navbar-links {
  display: flex;
  list-style: none;
}

.navbar-links li {
  margin: 0 20px;
}

.navbar-links a {
  color: #c9302c;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.navbar-links a:hover {
  color: #ff5670;
}

.navbar-search-signin {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between search and button */
}

.navbar-search {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
}

.navbar-search:focus {
  border-color: #bb2a3f;
  outline: none;
  box-shadow: 0 0 5px rgba(251, 113, 133, 0.5);
}

.signin-button {
  background-color: #c9302c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.signin-button:hover {
  background-color: #ff5670;
}
