.registration-container {
  position: absolute; /* Fix the position */
  top: 50%;
  right: 5%; /* Keep it on the right */
  transform: translateY(-50%);
  color: #fff;
  padding: 20px;
  border-radius: 2em;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 200px;
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Semi-transparent background for better readability */
}

.registration-container h3 {
  margin: 0 0 10px;
  font-size: 20px;
}

.registration-container p {
  margin: 10px 0;
  font-size: 16px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
  border-radius: 5px;
}

.registration-container .register-button {
  background-color: #b72b27;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.registration-container .register-button:hover {
  background-color: #c9302c;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .registration-container {
    top: 15%; /* Adjust for smaller screens */
    right: 5%;
    max-width: 180px;
    padding: 15px;
  }

  .registration-container .register-button {
    padding: 8px 16px;
    font-size: 16px;
  }
}
