.sidebar {
    width: 250px;
    height: 100%;
    background-color: #f8b4c0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }

ul {
    list-style-type: none;
}
.sidebar-link {
    display: block;
    color: #333;
    font-size: 16px;
    margin-bottom: 15px;
    text-decoration: none;
    transition: color 0.3s;
}
  
.sidebar-link:hover,
.sidebar-link.active {
    color: #e63946;
    font-weight: bold;
}